#whole
{
    background-color: #53a5a0;
    text-align: center;
    align-content: center;
}

#heading {
    color: #003B46;
    text-align: center;
    justify-self: center;
    font-size: 8rem;
    margin: auto;
}

#options {
    display: flex;
    align-content: center;
    justify-content: center;
}


#twoplayer {
    color: #66A5AD;
    background-color: #003B46;
    align-content: center;
    align-self: center;
    font-size: 3rem;
}

#comp {
    color: #66A5AD;
    background-color: #003B46;
    align-content: center;
    align-self: center;
    font-size: 3rem;
}